@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
	margin: 0;
	max-width: 1920px;

	font-family: 'Poppins', 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 1.25;
	color: #455a64;

	background-color: #fff;
	
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	overflow: hidden;
}

h1, h2, h3 {
	color: #3c3768;
}

p {
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}


/* Container
===================*/
.container {
	width: 100%;
	max-width: 1410px;
	margin: 0 auto;
}

.btn {
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 400;
   	color: #fff;
	text-align: center;

	display: block;
	padding: 15px 30px;

	background-image: linear-gradient(45deg, rgba(195,101,113,1) 0%, rgba(250,120,117,1) 100%);
   	background-size: 200% auto;
   	box-shadow: 10px 10px 25px rgba(250, 120, 117, .3);
	border: none;
   	border-radius: 5px;

   	transition: 0.5s;
 }

.btn:hover {
	text-decoration: none;
   	background-position: right center;
 }

/* Header
===================*/
.header {
	width: 100%;
	height: 130px;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 4;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}

/* Navigation
===================*/
.nav__bar {
	display: flex;
	align-items: center;
}

/* Search */
.search__box {
	background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
	border-radius: 40px;
	padding: 10px;
}

.search__box:hover > .search__text {
	width: 240px;
	padding: 0 6px;
}

.search__box:hover > .search__btn {
	background-color: #fff;
	color: #000;
}

.search__text {
	font-family: 'Inter';
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	border: none;

	width: 0;
	padding: 0;

	background: none;
	outline: none;
	float: left;
	
	transition: .4s;
}

.search__btn {
	width: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	float: right;

	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
	
	transition: .4s;
}

.search__btn svg {
	height: 50%;
	object-fit: cover;
	fill: #fff;
}

/* Drop menu */
.nav__list {
	padding: 20px 0 20px 20px;
	position: relative;
	list-style: none;

	transition: display .5s linear;
}

.nav__list svg {
	width: 30px;
	height: 30px;
	fill: #fff;
}

.nav__list:hover > .drop__menu,
.nav__list .drop__menu:hover {
	display: inline-block;
}

.drop__menu {
	width: 270px;
	padding: 5px 10px;
	margin: 0;
	display: none;

	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(50%);

	background-color: rgba(50, 46, 87, .7);

	z-index: 2;

	transition: display .5s linear;
}

.list__item {
	list-style: none;
	text-align: right;
}

.list__item > a {
	text-decoration: none;
	color: #fff;
}

/* Section Intro
===================*/
.section__intro {
	height: 650px;
	padding-top: 130px;

	background: url("images/bg-1.png") center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.intro__content {
	width: 100%;
	max-width: 500px;
	padding: 10px 0;
}

.intro__content > h1 {
	font-size: 50px;
	margin-bottom: 40px;
}

.intro__content  p {
	font-weight: 500;
}

.intro__text {
	margin-bottom: 50px;
}

.sign__up {
	font-size: 20px;
	margin-bottom: 40px;
}

.intro__form {
	width: 100%;
	display: flex;
}

.intro__form input {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 18px;
	color: rgba(69, 90, 100, .6);

	width: 70%;
	padding: 15px 5px 15px 40px;
	margin-right: 20px;

	outline: none;
	border: none;
	border-radius: 5px;
	box-shadow:  10px 10px 25px rgba(250, 120, 117, .3);
}

.intro__form button {
	width: 30%;
}

/* Section One
===================*/
.section__base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .element-animation {
	opacity: 0;
	transform: translateY(-50%);
}

.element-animation.element-show{
	opacity: 1;
	transition: all 1s ease;
	transform: translateY(0%);
} */

.section__one {
	background: url("images/bg-2.png") left no-repeat;
	background-size: cover;
}

.section__inner {
	width: 100%;
	max-width: 1170px;
	padding: 200px 0;
	margin: 0 auto;
	display: flex;
}

.right__content {
	justify-content: flex-end;
}

.left__content {
	justify-content: flex-start;
}

.section__content {
	width: 100%;
	max-width: 650px;
	max-height: 570px;
	padding: 40px 40px 70px;
	background-color: rgba(255, 255, 255, .75);
	box-shadow:  10px 10px 25px rgba(250, 120, 117, .2);
}

.section__title {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 45px;
}

.section__text {
	margin-bottom: 80px;
}

.section__content a {
	font-size: 20px;
	font-weight: 400;
	color: #fa7875;
	text-decoration: none;
	text-transform: uppercase;

	display: flex;
	align-items: center;

	transition: color .3s ease;
}

.section__content a svg {
	width: 30px;
	height: 24px;
	margin-left: 20px;

	fill: #fa7875;
	
	transition: fill .3s ease, transform .2s ease;
}

.section__content a:hover {
	color: #322e57;
}

.section__content a:hover svg {
	fill: #322e57;
	transform: translateX(12px);
}

/* Section Two
===================*/
.section__two {
	background: url("images/bg-3.png") right no-repeat;
	background-size: cover;
}

/* Section Three
===================*/
.section__three {
	background: url("images/bg-4.png") left no-repeat;
	background-size: contain;
	margin-bottom: 200px;
}
/* Footer
===================*/
.footer {
	margin-top: auto;
	background: url("images/bg-6-min.svg") center no-repeat;
	background-size: cover;
	padding-bottom: 90px;
}

/* Join Us */
.join__us {
	width: 100%;
	padding: 90px 200px;
	margin-bottom: 100px;

	background: url("images/bg-5.jpg") center no-repeat;
	background-size: cover;
	border-radius: 5px;
}

.join__us__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.join__content {
	margin-right: 100px;
}

.join__title {
	font-size: 40px;
	font-weight: 600;
	color: #fff;

	margin-top: 0;
}

.join__text {
	color: rgba(255, 255, 255, .7);
}

/* Footer */
.footer__bottom {
	margin-bottom: 90px;
	padding-right: 120px;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__content {
	width: 50%;
}

.footer__content img {
	margin-bottom: 40px;
}

.footer__text {
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.about__us {
	width: 25%;
	margin: 0;
	list-style-type: none;
}

.about__us > ul {
	margin: 0;
}

.about__us > ul > h4 {
	margin: 0;
	padding-bottom: 10px;
	color: #fa7875;
}

.about__us > ul > li{
	padding: 10px 0;
	list-style-type: none;
}

.about__us > ul > li > a{
	text-decoration: none;
	color: inherit;
}

.social__icons {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
}

.social__item {
	height: 47px;
	width: 47px;
	margin: 0 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #322e57;
	border-radius: 50%;
	text-decoration: none;

	transition: background .3s linear, border .3s linear;
}

.social__item svg {
	height: 50%;

	fill: #fff;
	object-fit: cover;
	
	transition: color .3s linear;
}

.social__item:hover {
	background-color: #fff;
	border: 1px solid #322e57;
}

.social__item:hover svg{
	fill: #322e57;
}


/* Adaptive for low-width\laptop screens */
@media (min-width: 810px) and (max-width: 1280px) {
	.container {
		max-width: 1170px;
	}

	.intro__content h1 {
		font-size: 44px;
	}

	.section__content {
		max-width: 500px;
		max-height: 450px;
		padding: 20px 20px 40px;
	}	

	.section__content h1{
		margin: auto;
	}

	.section__content a {
		font-size: 16px;
	}

	.section__text {
		font-size: 16px;
		margin-bottom: 45px;
	}

	.section__three {
		margin-bottom: 100px;
	}
	
	.footer {
		padding: 0 30px 40px;
	}

	.join__us {
		padding: 50px 100px;
		margin-bottom: 80px;
	}

	.footer__bottom {
		margin-bottom: 60px;
	}
}

/* Adaptive for tablet screens */
@media (min-width: 480px) and (max-width: 810px) {
	.container {
		max-width: 778px;
	}

	.header__inner {
		padding: 20px 0;
	}

	.section__intro {
		padding-top: 100px;
		height: 600px;
	}
	
	.intro__content h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.intro__text {
		margin-bottom: 30px;
	}

	.sign__up {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.intro__form input {
		font-size: 16px;
		padding: 10px 5px 10px 30px;
	}

	.btn {
		font-size: 16px;
		padding: 10px 20px;
	}

	/* sectoin base */
	.section__inner {
		padding: 100px 0;
	}

	.section__content {
		max-width: 400px;
		max-height: 450px;
		padding: 20px;
	}	

	.section__content h1{
		margin: auto;
	}

	.section__title {
		font-size: 28px;
		margin: 0 0 20px;
	}

	.section__content a {
		font-size: 16px;
	}

	.section__text {
		font-size: 16px;
		margin-bottom: 30px;
	}

	/* every section rules */
	.section__one {
		background-position: center;
	}

	.section__two {
		background-position: center;
	}
	
	.section__three {
		background-position-x: -120px;
		margin-bottom: 120px;
	}
	
	.footer {
		padding-top: 30px;
	}

	.join__us {
		margin-bottom: 50px;
		padding: 30px 40px;
	}

	.join__content {
		width: 65%;
		margin-right: 40px;
	}

	.join__title {
		font-size: 32px;
	}

	.footer__bottom {
		margin-bottom: 30px;
		padding-right: 0;
	}

	.footer__content {
		width: 45%;
	}

	.footer__content img {
		margin-bottom: 5px;
	}

	.footer__text {
		padding-right: 10px;
	}

	.about__us {
		width: 20%;
	}

	.about__us > ul {
		padding: 0;
	}

	.about__us > ul > li {
		font-size: 16px;
		padding: 8px 0;
	}

	.social__icons {
		width: 30%;	
	}

	.copyright {
		font-size: 14px;
	}
}

/* Adaptive for mobile screens */
@media (min-width: 320px) and (max-width: 480px) { 
	br {
		display: none;
	}

	.container {
		max-width: 480px;
	}

	.header {
		height: auto;
	}

	.header__inner {
		padding: 10px 15px;
	}

	.section__intro {
		padding-top: 80px;
		height: 600px;
		background-image: url("images/mobile-preset/bg-1.png");
		background-size: cover;
	}

	.intro__inner {
		padding: 0 15px;
	}
	
	.intro__content h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.intro__text {
		margin-bottom: 30px;
	}

	.sign__up {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.intro__form input {
		font-size: 16px;
		padding: 10px 5px 10px 20px;
	}

	.btn {
		font-size: 16px;
		padding: 10px 20px;
	}

	/* sectoin base */
	.section__inner {
		padding: 80px 15px;
	}

	.section__content {
		max-width: 100%;
		max-height: 450px;
		padding: 30px 10px;
	}	

	.section__content h1{
		margin: auto;
	}

	.section__title {
		font-size: 28px;
		margin: 0 0 20px;
	}

	.section__content a {
		font-size: 16px;
	}

	.section__text {
		font-size: 16px;
		margin-bottom: 30px;
	}

	/* every section rules */
	.section__one {
		background-position: center;
		background-image: url("images/mobile-preset/bg-2.png");
		background-size: contain;
	}

	.section__two {
		background-image: url("images/mobile-preset/bg-3.png");
		background-size: contain;
		background-position: center;
	}
	
	.section__three {
		margin-bottom: 0;
		background-image: url("images/mobile-preset/bg-4.png");
		background-position-x: -120px;
		background-size: contain;
	}
	
	.footer {
		padding: 10px 0 30px;
	}

	.join__us {
		margin-bottom: 20px;
		padding: 40px 15px;
	}

	.join__us__inner {
		flex-direction: column;
	}

	.join__content {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.join__title {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.join__text {
		margin-bottom: 10px;
	}

	.footer__bottom {
		margin-bottom: 20px;
		padding: 0 15px;
		flex-wrap: wrap;
	}

	.footer__content {
		width: 100%;
		margin-bottom: 15px;
	}

	.footer__content img {
		margin-bottom: 5px;
	}

	.footer__text {
		font-size: 16px;
		padding-right: 10px;
	}

	.about__us {
		width: 100%;
		margin-bottom: 15px;
	}

	.about__us > ul {
		padding: 0;
	}

	.about__us > ul > li {
		font-size: 16px;
		padding: 6px 0;
	}

	.social__icons {
		width: 100%;
		justify-content: flex-start;
	}

	.social__item:first-child {
		margin-left: 0;
	}

	.copyright {
		padding: 0 15px;
		font-size: 14px;
	}

}
